# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.d
*__init__.py
*.pcm
*.json

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Backups #
###########
*~

# CVS #
#######
CVS

# LaTeX #
#########
*.toc
*.snm
*.log
*.out
*.nav
*.aux

# Plots #
#########
*.pdf

# Root Files#
#############
*.root

# Test Files#
#############
test*

# Manual Ignores#
#################
PseudoDataTests/scripts/createNewDataObs.py
PseudoDataTests/scripts/runScalingTests.py
PseudoDataTests/scripts/plotResults.C
